.navbar-container{
    margin-bottom: 30px;
    padding: 0px 30px;
    background-color: #52063b;
    font-size: 16px;
}

li{
    margin: 0 20px;
}

.cart{
    font-size: 30px;
    color: rgb(247, 243, 243)
}

 
